body{
  background-color: #333;
  color: #f1f6fd;
}

/* auth */
.login-wrapper {
    color: #f1f6fd;
    height: 100%;
    width: 100%;
    font-family: "Asap", sans-serif;
    background-color: #0c1116;
  }
  
  .login-logo-container {
    padding: 30px 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-login {
    width: 48px;
  }
  
  .login-box-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-box {
    padding: 20px 0px;
    width: 364px;
    min-height: 300px;
    border-radius: 10px;
    background-color: #161a23;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .input {
    width: 250px;
    height: 35px;
    background-color: #0c1116;
    border-radius: 5px;
    padding: 0 1rem;
    border: 0.5px solid #f1f6fd;
    font-size: 1rem;
    color: whitesmoke;
    transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  }
  
  .label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #f1f6fd;
    transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  }
  
  .input:hover,
  .input:focus {
    border-color: lightblue;
  }
  
  .submit-btn {
    background-color: #238636;
    border: none;
    width: 250px;
    border-radius: 5px;
    height: 35px;
    color: #f1f6fd;
    font-weight: 700;
    padding: 0 1rem;
  }
  
  .submit-btn:hover {
    background-color: #499458;
    cursor: pointer;
  }
  
  .passkey-signin {
    border: 0.5px solid #e6e9ed;
    width: 360px;
    border-radius: 10px;
    height: 90px;
    margin: 10px auto;
  }
  
  .passkey-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  
  .passkey,
  .signup {
    color: #2b7df7;
    cursor: pointer;
    /* font-size: px; */
  }
  
  .login-btn {
    width: 250px;
  }
  
  .pass-box {
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 5px 0px;
    border: 1px solid #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .signup-button {
    width: 250px;
  }
  
  @media screen and (max-width: 400px) {
    .login-box {
      width: 200px;
    }
  
    .input {
      width: 150px;
    }
  
    .login-btn {
      width: 150px;
    }
  
    .pass-box {
      width: 200px;
    }
  }

/* dashboard */
#dashboard{ 
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*Navbar*/

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

nav img {
  height: 50px;
  border-radius: 100%;
}
nav div {
  display: flex;
}

nav h3 {
  margin-left: 15px;
  color: white;
}

nav p {
  margin-left: 50px;
  font-weight: bold;
  color: white;
}

nav h3:hover,
nav p:hover {
  text-decoration: underline;
}

/* profile */

.profile-page-wrapper {
  display: flex;
  min-height: 100vh;
  color: whitesmoke;
  width: 100%;
  /* flex-wrap: wrap; */
}

.user-profile-section {
  width: 250px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.user-repo-section {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.user-name {
  /* width: 250px; */
  margin: 10px 20px 10px 10px;
  /* margin: 10px auto; */
}

.profile-image {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
}

.follow-btn {
  background-color: #20272d;
  width: 250px;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
}

.follower {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 10px;
  margin: 10px auto;
}

.repo-card-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
}

.repo {
  border: 0.5px solid grey;
  border-radius: 10px;
  width: 400px;
  height: 210px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-name {
  cursor: pointer;
  color: #408ced;
  font-size: 20px;
}

.description {
  color: grey;
  font-size: 15px;
}

@media screen and (max-width: 750px) {
  .repo {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .user-profile-section {
    margin: auto;
  }

  .profile-page-wrapper {
    display: block;
  }
}

#logout:hover {
  border: 1px solid white;
}